<% @page_title = "無料新規会員" %>

<h4><%= @page_title %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: @account %>

  <div class="field">
    <%= f.label :email %><br />
    <% if @account.email.present? %>
      <%= @account.email %>
      <%= f.hidden_field :email, :value => @account.email %>
    <% else %>
      <%= f.email_field :email %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name %>
  </div>

  <div class="field">
    <%= f.label :profile_image %>
    <% if @account.profile_image.present? %>
      <%= attachment_field :profile_image %>
      <%= f.hidden_field :profile_image, :value => @account.profile_image_id %>
    <% else %>
      <%= f.attachment_field :profile_image %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.hidden_field :provider, :value => @account.provider %>
    <%= f.hidden_field :uid, :value => @account.uid %>
    <%= f.submit "登録する", class: "mt-1 p-1" %>
  </div>
<% end %>
