<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: booking_history, local: true) do |f| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">レストラン名</h3>
        <h4 class="date-pople">来店日時　来店人数 名</h4>
      </div>

      <div class="modal-body">
        <div class="label-info">
          <%= f.label :その他の情報の入力 %>
        </div>
        <div class="label-notes">
          <%= f.label :レストランへのご要望 %>
        </div>
        <div class="notes">
          <%= f.text_area :notes, size: "50x5" %>
        </div>
      </div>

      <div class="modal-actions">
        <%= f.submit "予約する", class: "btn btn-lg btn-orange" %>
      </div>
    <% end %>
  </div>
</div>