<h1>Owners::Restaurants#show</h1>

<h1><%= @restaurant.name %></h1><br>
<p>shop id => <%= @restaurant.shop_id %></p>
<p>kana => <%= @restaurant.name_kana %></p>
<p>address => <%= @restaurant.address %></p>
<p>station => <%= @restaurant.station_name %></p>
<p>search_keyword => <%= @restaurant.search_keyword %></p>
<p>catch => <%= @restaurant.catch %></p>
<p>capacity => <%= @restaurant.capacity %></p>
<p>access => <%= @restaurant.access %></p>
<p>urls => <%= @restaurant.urls %></p>
<p>open => <%= @restaurant.open %></p>
<p>close => <%= @restaurant.close %></p>
<p>party_capacity => <%= @restaurant.party_capacity %></p>

<p>ロゴ画像</p><br>
<%= attachment_image_tag @restaurant, :logo_image, :fill, 200, 200 %><br>

<p>店舗画像</p><br>
<% @restaurant.restaurant_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 100, 100 %>
<% end %>

<p>
  wifi => <%= @restaurant.wifi %>
</p>
<p>
  free_drink => <%= @restaurant.free_drink %> : <%= @restaurant.free_drink_memo %>
</p>
<p>
  free_food => <%= @restaurant.free_food %> : <%= @restaurant.free_food_memo %>
</p>
<p>
  private_room => <%= @restaurant.private_room %> : <%= @restaurant.private_room_memo %>
</p>
<p>
  horigotatu <%= @restaurant.horigotatsu %> ; <%= @restaurant.horigotatsu_memo %>
</p>
<p>
  tatami <%= @restaurant.tatami %> ; <%= @restaurant.tatami_memo %>
</p>
<p>
  card <%= @restaurant.card %>
</p>
<p>
  non_smoking <%= @restaurant.non_smoking %>
</p>
<p>
  charter <%= @restaurant.charter %> : <%= @restaurant.charter_memo %>
</p>

<p>
  parking <%= @restaurant.parking %> : <%= @restaurant.parking_memo %>
</p>
<p>
  barrier_free <%= @restaurant.barrier_free %> ; <%= @restaurant.barrier_free_memo %>
</p>
<p>
  karaoke <%= @restaurant.karaoke %>
</p>
<p>
  tv <%= @restaurant.tv %>
</p>
<p>
  english <%= @restaurant.english %>
</p>
<p>
  pet <%= @restaurant.pet %>
</p>
<p>
  child <%= @restaurant.child %> : <%= @restaurant.child_memo %>
</p>
<p>
  lunch <%= @restaurant.lunch %>
</p>
<p>
  midnight <%= @restaurant.midnight %>
</p>
