<!-- 検索窓 -->
<div class="row">
    <h4>日時、人数から探す</h4>
    <%= form_tag :search_area, :method => 'get' do %>
      <%= text_field_tag :search, '', name: "search", placeholder: "エリア・駅 [例:銀座、渋谷]" %>
      <%= submit_tag '検索', class: "btn-orange" %>
    <% end %>
</div>

<div id="carousel" class="row mt-5 carousel slide" data-interval="false">
  <div class="carousel-inner">
    <!----------- メインエリア ------------->
    <div class="carousel-item active">
      <div class="col-md-8 mb-3">
        <h4 class="font-weight-bold">エリアから探す</h4>
      </div>
      <div class="col-md-8 d-flex flex-wrap">
        <% @areas.each do |area| %>
          <%= link_to "#carousel", data: { slide: "next" } do %>
            <div class="card mb-3 mr-4" style="max-width: 260px">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <!-- "#{area}.jpg"みたいにすれば画像もeachで回せるかな -->
                  <%= image_tag "potato_row.jpg", size: "76x76", alt: area, class: "card-img" %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= area %></h5>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="col-md-7 p-0">
          <div class="sub-area">北海道・東北</div>
          <ul class="d-flex p-0">
            <% @hokkaido.each do |h| %>
              <li class="area mr-3 list-inline-item small"><%= link_to "#{h}", "#carousel", data: { slide: "next" } %></li>
            <% end %>
          </ul>
          <div class="sub-area">中部</div>
          <ul class="d-flex p-0">
            <% @tyubu.each do |h| %>
              <li class="area mr-3 list-inline-item small"><%= link_to "#{h}", "#carousel", data: { slide: "next" } %></li>
            <% end %>
          </ul>
          <div class="sub-area">中国・四国</div>
          <ul class="d-flex p-0">
            <% @tyugoku.each do |h| %>
              <li class="area mr-3 list-inline-item small"><%= link_to "#{h}", "#carousel", data: { slide: "next" } %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-5 p-0">
          <div class="sub-area">関東</div>
          <ul class="d-flex p-0">
            <% @kanto.each do |h| %>
              <li class="area mr-3 list-inline-item small"><%= link_to "#{h}", "#carousel", data: { slide: "next" } %></li>
            <% end %>
          </ul>
          <div class="sub-area">関西</div>
          <ul class="d-flex p-0">
            <% @kansai.each do |h| %>
              <li class="area mr-3 list-inline-item small"><%= link_to "#{h}", "#carousel", data: { slide: "next" } %></li>
            <% end %>
          </ul>
          <div class="sub-area">九州・沖縄</div>
          <ul class="d-flex p-0">
            <% @okinawa.each do |h| %>
              <li class="area mr-3 list-inline-item small"><%= link_to "#{h}", "#carousel", data: { slide: "next" } %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!----------- メインエリア ------------->

    <!--- サブエリア1(メインエリア押すと発火) --->
    <div class="carousel-item">
      <div class="col-md-8 mb-3">
        <%= link_to "#carousel", data: { slide: "prev" } do %>
          <h5 class="font-weight-bold">都道府県一覧に戻る</h5>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card" style="min-height: 369px">
          <!-- ここをリンクごとに変更 -->
          <div class="card-body">
            <h5 class="card-title">カードのタイトル</h5>
              <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。</p>
          </div>
        </div>
      </div>
    </div>
    <!--- サブエリア2(メインエリア押すと発火) --->
    <div class="carousel-item">
      <div class="col-md-8 mb-3">
        <%= link_to "#carousel", data: { slide: "prev" } do %>
          <h5 class="font-weight-bold">都道府県一覧に戻る</h5>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card" style="min-height: 369px">
          <!-- ここをリンクごとに変更 -->
          <div class="card-body">
            <h5 class="card-title">神奈川</h5>
              <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。</p>
          </div>
        </div>
      </div>
    </div>
    <!----------- サブエリア --------------->
  </div>
</div>

<!-- ジャンル検索 -->
<div class="row mt-5">
  <div class="col-md-8 mb-3">
    <h4 class="font-weight-bold">料理ジャンルから探す</h4>
  </div>
  <!-- メインジャンル -->
  <div class="col-md-8 d-flex flex-wrap">
    <% @genres.each do |genre| %>
      <span class="main-genre">
        <%= link_to search_genre_path(genre_name: genre) do %>
          <%= image_tag "焼肉.jpg", size: '135x135', class: "mr-2 genre_mainimg" %>
          <span class="ganre_name"><%= genre %></span>
        <% end %>
      </span>
    <% end %>
  </div>
  <!-- タグジャンル -->
  <div class="col-md-8 d-flex flex-wrap mt-4">
    <% @tags.each do |tag| %>
      <%= link_to search_genre_path(genre_name: tag) do %><!-- パラメータとしてrestを送る -->
        <button type="button" class="btn btn-outline-secondary mr-3"><%= tag %></button>
      <% end %>
    <% end %>
  </div>
</div>
<!-- ジャンル検索 -->
