<div class="row">
  <h2 class="center-block" style="text-align:center;">ログイン</h2>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mt-3">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="mt-3">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-1">
          <%= f.check_box :remember_me %>
          <%= f.label :"アカウントを記憶しますか？" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログインする", class:"btn btn-orange mt-1" %>
      </div>
    <% end %>

    <div class="mt-1">
      <%= render "owners/shared/links" %>
    </div>
  </div>
</div>
