<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <%= @page_title %>
          <!-- owner -->
          <% if request.fullpath.include? "owner" %>
            <%= render 'owners/shared/header' %>
          <% else %>
          <!-- account -->
            <% if account_signed_in? %>
              <%= render 'accounts/shared/login_header' %><!-- ユーザーサインイン時 -->
            <% else %>
              <%= render 'accounts/shared/logout_header' %><!-- ユーザーサインアウト時 -->
            <% end %>
          <% end %>
        </div>
        <!-- owner headerとリンク干渉するのでロゴ移動したお -->
      </div>
    </header>

    <% if request.path == "/" %><!-- topはconteinerなし -->
      <main>
        <%= yield %>
      </main>
    <% else %>
      <div class="container">
        <main>
          <% if flash[:notice] %>
            <div class="alert"><%= flash[:notice] %></div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    <% end %>

    <div class="container">
      <footer>

      </footer>
    </div>
  </body>
</html>
