<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <% if account_signed_in? %>
      <%= render 'accounts/shared/login_header' %><!-- ユーザーサインイン時 -->
    <% else %>
      <%= render 'accounts/shared/signout_header' %><!-- ユーザーサインアウト時 -->
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>
  </body>
</html>
